
DB_MODE=async
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aibot
REDIS_URL=redis://localhost:6379/0

TG_API_ID=your_TG_API_ID
TG_API_HASH=your_TG_API_HASH

TELEGRAM_SESSION_NAME=aibot_session
TELEGRAM_CHANNEL=your_channel
TELEGRAM_CHANNEL_USERNAME=your_TG_username

OPEN_AI_API_KEY=key
OPEN_AI_MODEL=gpt-3.5-turbo

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0