
DB_MODE=auto

POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/aibot
SQLITE_URL=sqlite:///aibot.db

REDIS_URL=redis://localhost:6379/0

TG_API_ID=your tg api id
TG_API_HASH=your tg api hash
TELEGRAM_SESSION_NAME=your tg session name
TELEGRAM_CHANNEL_USERNAME=your tg user name
TG_BOT_TOKEN=your tg bot tocken

OPENAI_API_KEY=sk-***
OPENAI_MODEL=gpt-4o-mini

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0