.env
.venv
.idea
*.db
__pycash__

# mac
.DS_Store

# local env
.env

# sqlite db
*.db

# celery beat schedule
celerybeat-schedule
celerybeat-schedule.db
/app.db.bak_*
/tg_test.py
/tg_login.py
/f86842b8ae43f8cd852436ceaa620f7c.session
/alembic/script.py.mako
/aibot.session
/alembic/versions/
/aibot.session
